.krm--logo .v-img__img {
  width: 70px;
}

.v-expansion-panel-text .v-expansion-panel-text__wrapper {
  padding: 0;
}

.v-expansion-panel-text .v-expansion-panel-text__wrapper .v-card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.v-card-item__content .v-card-subtitle,
.v-card-text .v-card-subtitle {
  white-space: normal;
}

.text-btn {
  text-transform: none;
}

.content--center {
  margin-left: 50%;
  transform: translateX(-50%);
}
